/* CSS Document */
body{
	margin:0 auto;
}
.container{
	width: 1000px;
	height:auto;
	margin:0 auto;
}
.top{
	width:980px;
	height:30px;
	float:left;
	background:#F8F8F8;
}
.top-left1{
	width:110px;
	height:auto;
	
	margin:0 5px;
}
.top-left1-qq{
	width:22px;
	height:22px;
	margin:4px 6px;
	float:left;
}
.top-left1-sina{
	width:22px;
	height:22px;
	margin:4px 6px; 
	float:left;
}
.top-left1-wechat{
	width:22px;
	height:22px;
	margin:4px 6px;
	float:left;
}
.top-left2{
	width: 80px;
	height:22px;
	font-family:"宋体";
	font-size: 14px;
	color:#005;
	text-align:left;
	float:left;
	margin:4px 0;
	line-height:22px;
}
.top-left3{
	width:110px;
	height:22px;
	float:left;
	margin:4px 0;
}
.top a{
	text-decoration:none;
}
.top a:hover{
	color:#333;
	text-decoration:none;
	font-weight:bold;
}

.top-right1{
	width:320px;
	height:22px;
	float:right;
	margin-top:2px;
}
.top-right1-input{
	width:220px;
	height:18px;
	float:right;
}
.input{
	width:220px;
	height:18px;
}
.top-right1-search{
	width:30px;
	height:22px;
	float:right;
	margin:0px 5px;

}
.top-right1-search a{
	width:30px;
	height:22px;
	display:block;
	background:url(../../logo/search1.jpg);
}
	
.top-right1-search a:hover{
	width:30px;
	height:22px;
	display:block;
	background:url(../../logo/search2.jpg);
}
.time{
	width:980px;
	height:15px;
	font-size:14px;
	color:#000;
	float:left;
	font-family:"宋体";
	
}
.menu{
	width:980px;
	height:69px;
	clear:both;
	float:left;
	margin:5px 0;
}
.menu-left{
	width:89px;
	height:69px;
	float:left;
	background:url(../../logo/%E7%99%BD%E8%89%B2%E9%98%B4%E5%BD%B1%E5%AF%BC%E8%88%AA/menu-left.png);
}
.menu-right{
	width:88px;
	height:69px;
	background:url(../../logo/%E7%99%BD%E8%89%B2%E9%98%B4%E5%BD%B1%E5%AF%BC%E8%88%AA/menu-right.png);
	float:left;
}
.menu-mid{
	width:165.25px;
	height:69px;
	background:url(../../logo/%E7%99%BD%E8%89%B2%E9%98%B4%E5%BD%B1%E5%AF%BC%E8%88%AA/menu-mid.png);
	float:left;
}
.menu-mid-1{
	width:165.25px;
	height:69px;
	background:url(../../logo/%E7%99%BD%E8%89%B2%E9%98%B4%E5%BD%B1%E5%AF%BC%E8%88%AA/menu-mid-hover.png);
	float:left;
}
.menu-logo{
	width:142px;
	height:69px;
	background:url(../../logo/%E7%99%BD%E8%89%B2%E9%98%B4%E5%BD%B1%E5%AF%BC%E8%88%AA/menu-logo.png);
	float:left;
}
.menu-font{
	font-family:"华文隶书";
	color:#FFF;
	font-size:24px;
	text-align:center;
	width:165.25px;
	height:69px;
	margin:0;
	font-weight:bold;
	text-align:center;
	line-height:59px;
}
.menu a{
	width:165.25px;
	height:69px;
	display:block;
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
}
.menu a:hover{
	width:165.25px;
	height:55px;
	text-decoration:none;
	color:#FFC;
	font-weight:bold;
	display:block;
	background:url(../../logo/%E7%99%BD%E8%89%B2%E9%98%B4%E5%BD%B1%E5%AF%BC%E8%88%AA/menu-mid-hover2.png);
}
.main{
	width:980px;
	height:auto;
	margin:0px auto 20px;
	clear:both;
	float:left;
	border-top:double #990000;
	border-top-width:5px;
}
.main-left{
	width:235px;
	height:auto;
	float:left;
	margin:0px 5px;
}
.main-left2{
	width:235px;
	height:auto;
	float:left;
	font-family:"宋体";
	font-size:18px;
	line-height:25px;
	margin:0px;
	text-align:center;
}
.main-left1{
	width:235px;
	height:40px;
	background:#900;
	color:#FFF;
	font-family:"华文隶书";
	font-size:24px;
	text-align:center;
	float:left;
	margin:15px 0px 0;
	line-height:40px;
}
.main-left2 ul{
	list-style:none;
	margin:0;
	padding:0;
}
.main-left2 ul li{
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
.main-left2 li a{
	height:25px;
	background:#FFC;
	color:#000;
	display:block;
	padding:5px 5px 5px 0.5em;
	text-decoration:none;
	border-left:15px solid #900;
	border-right:1px solid #C00;
}
.main-left2 li a:hover{
	background:#900;
	color:#FFC;
	font-weight:bold;
}
.main-right{
	width:710px;
	height:auto;
	float:right;
	border-left:double #900 4px;
	margin:10px 0 0 21px;
}
.main-right1{
	width:600px;
	height:450px;
	margin:10px 50px -5 60px;
	float:right;
}
.main-right2{
	width:660px;
	height:auto;
	font-family:"宋体";
	font-size:16px;
	color:#333;
	float:left;
	margin:-10px 10px;
	line-height:20px;
	text-align:center;
}
.footer{
	width:980px;
	clear:both;
	height:65px;
	margin:0 auto;
	padding:10px 0 0 0;
	background:url(../../logo/footer_bg.gif)repeat-x;
	font-size:13px;
	color:#666;
	text-align:center;
}

	